/* src/App.css */

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.container > div {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #252525;
}

.InputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  width: 200px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

.input:focus {
  outline: none;
  border-color: #1b1b1b;
}

.add-song-button {
  height: 40px;
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.add-song-button:hover {
  background-color: #252525;
}

.sort-container select {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-container select:hover {
  background-color: #252525;
}

.MainTitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #1b1b1b;
}

.NumResult {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.Logo {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #1b1b1b;
}

.MusicListHeader {
  display: flex;
  justify-content: center;
}

/* .MusicListHeader h2 {
  margin: 0;
  font-size: 24px;
} */

.MusicListHeader select {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MusicListHeader select:hover {
  background-color: #252525;
}

.PlaylistContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
